<!-- Contact area start -->
<section class="contact__area-6">
  <div class="container g-0 line pt-120 pb-110">
    <span class="line-3"></span>
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="sec-title-wrapper">
          <div class="col-12">
            <button routerLink="/admin/orders" class="wc-btn-primary btn-hover btn-item preview-button"
              type="button" ><span></span>
              View Orders <i
                class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="sec-title-wrapper">
          <div class="col-12">
            <button routerLink="/admin/users" class="wc-btn-primary btn-hover btn-item preview-button"
              type="button" ><span></span>
              View Users <i
                class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row contact__btm">
      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5" style="margin: auto;">

      </div>
    </div>
  </div>
</section>
<!-- Contact area end -->
