<div id="wrapper" style=" min-height:575px !important; margin-top: 5rem">
  <section>
    <div class="container page-content"> <br>
      <h2>Terms and Conditions</h2><br>
      <div dir="ltr">
        <div style="line-height:20pt"><span>Welcome to the web site <span><a rel="nofollow"
                href="https://markutting.com/" target="_blank">Markutting</a> </span>( “Markutting” or "Site"). On
            Markutting, marketers can promote their video content and publishers can monetize their blog, website, app.
            (“Markutting Services”). Your use of this Site and the features at this Site are subject to these Terms and
            Conditions ("Terms"), which we may update from time to time. Your use of this Site after we post any changes
            to these Terms constitutes your agreement to those changes. Markutting may, in its sole discretion, and at any
            time, discontinue this Site or any part thereof, with or without notice, or may prevent your use of this
            Site with or without notice to you. Markutting will have no liability to you if this Site is discontinued or
            your ability to access it is terminated. You are only authorized to Markutting (regardless of whether your
            access or use is intended) if you agree to abide by all applicable laws and to these Terms. If you do not
            agree with these Terms, you should immediately discontinue all use of this Site.</span><br><br> <b>Markutting
            Content</b> <br>
          <div style="line-height:20pt"><span>Content on this Site provided by Markutting or its licensors, including
              certain art work, graphics, photographs, images, screen shots, text, music, digitally downloadable files,
              video clips, trademarks, logos, product and character names, slogans, and the compilation of the foregoing
              ("Markutting Content") is the property of Markutting and its licensors and is protected in the U.S. and
              internationally under trademark, copyright, and other intellectual property laws. Content provided by
              users of the site ("Submitted Content"), such as user-posted content, including audio clips, musical
              works, graphics, images, trademarks, trade names, characters, and trademarks and copyrights is the
              property of the parties that provided that content, and is used by Markutting subject to license, or subject
              to the fair use provisions of U.S. copyright or trademark law or made permissible under other applicable
              law. Although Markutting makes efforts to insure that all material on this site is correct, accuracy cannot
              be, and is not, guaranteed by Markutting.</span><br><br>
            <div style="line-height:20pt"><span>You agree not to download, display or use any Markutting Content or
                Submitted Content located on the Site for use in any publications, in public performances, on websites
                other than this Site for any other commercial purpose, in connection with products or services that are
                not those of Markutting, in any other manner that is likely to cause confusion among consumers, that
                disparages or discredits Markutting and/or its licensors, that dilutes the strength of Markutting or its
                licensor's property, or that otherwise infringes Markutting’s or its licensor's intellectual property
                rights. You further agree to in no other way misuse any Markutting Content or Submitted Content that
                appears on this Site.</span></div><br> <b>Posting Submitted Content</b><br> <span
              style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>On certain areas of our
              Site you may be able to submit videoclips and other materials and content ("Submitted Content"). Your
              posting of Submitted Content is subject to these Terms, the following terms ("Submission Rules"), and any
              additional terms posted for a specific feature:</span><br> <span
              style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>No Illegal, Infringing
              or Abusive Message Content: You understand and acknowledge that you are responsible for your Submitted
              Content, and agree not to post any content that is unlawful, harmful, tortious, defamatory, libelous,
              obscene, invasive of the privacy of another person, threatening, harassing, abusive, hateful, racist,
              infringing, pornographic, violent or otherwise objectionable or inappropriate as determined by
              Markutting.</span><br> <span style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>No Violations of Third
              Party Rights: You agree that you will not post any content that contains personal information about any
              individual, violates the privacy/publicity of any other individual or entity, or anything that you are
              under a contractual obligation to keep private or confidential. You agree that you will not impersonate
              any person or organization, including without limitation, the personnel of Markutting. You further agree
              that you will not misrepresent an affiliation with another person or organization, nor will you post any
              content that contains slanderous or libelous comments about others, or that infringes any copyright,
              trademark, patent, trade secret or other intellectual property right of a third party.</span><br> <span
              style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>No Commercial Use: You
              agree that you will not post any content that contains business solicitation of any type, including
              advertising a product or service, offering a product or service for sale, or directing readers to a
              location for more information about a product or service.</span><br> <span
              style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>No Viruses, Corrupting
              Files or Interference: You agree that you will not post any software, files or links to other sites, and
              that you will not post any content that contains viruses, corrupted files, or any other similar software
              or programs that may adversely affect the operation of the Site, or feature of the Site. You further agree
              that you will not modify in any way any specifications, technology or application codes provided to you by
              Markutting or as embedded in the Submitted Content unless expressly authorized in writing by
              Markutting.</span><br> <span style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>Use of Account
              Information: You may not share or transfer password or other access information with any other party,
              temporarily or permanently. You shall bear sole responsibility for all use of your account and for the
              confidentiality of your password.</span><br> <span style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>Responsibility of
              Postings: You understand and acknowledge that Submitted Content posted by you is solely your
              responsibility, and that Markutting is not responsible for the information, data, text or other materials
              that may appear in any Submitted Content. Opinions expressed in Submitted Content do not necessarily
              reflect the opinions of Markutting, and Markutting does not endorse and has no control over Submitted Content.
              Submitted Content is not necessarily reviewed by Markutting prior to posting and Markutting makes no
              warranties, express or implied, as to the Submitted Content or to the accuracy and reliability of the
              Submitted Content.</span><br> <span style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>No Monitoring/Violation
              Notices: Markutting does not necessarily monitor any materials posted, transmitted, or communicated to or
              within the Site. If you believe that something on the Site violates these Terms, please email
              support@markutting.com</span><br> <span style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>User Termination/No
              Ownership: You understand and agree that you have no ownership rights in your account or other access to
              the Site or features therein. Markutting may cancel your Account and delete all Submitted Content associated
              with your Account at any time, and without notice, if Markutting deems that you have violated these Terms,
              the Submission Rules, the law, or for any other reason. Markutting assumes no liability for any information
              removed from our Site, and reserves the right to permanently restrict access to the Site or a user
              Account.</span><br> <span style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>No Confidentiality: The
              nature of this Site is interactive and public. By posting Submitted Content, you understand and
              acknowledge that any materials, ideas or other communications you transmit in any manner and for any
              reason will not be treated as confidential or proprietary.</span><br><br> <b>Ownership of Posted Content
              and License Thereto</b><br> <span style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>After posting your
              Submitted Content to the Site, you continue to retain all ownership rights in such Submitted Content, and
              you continue to have the right to use your Submitted Content in any way you choose, subject to these Terms
              and the license described herein ("Submitted Content License"). Markutting may delete any Submitted Content
              that, in the sole judgment of Markutting, violates these Terms or the Submission Rules.</span><br> <span
              style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>Scope of License: By
              displaying, publishing, or otherwise posting any Submitted Content on or through the Site, you hereby
              grant to Markutting a limited, non-exclusive (meaning that you are free to license your Content to anyone
              else in addition to Markutting), sub-licensable (so that Markutting can use its affiliates, partners and other
              subcontractors such as Internet content delivery networks and wireless carriers to provide the Markutting
              Services), worldwide (because the Internet and Markutting Services are global in reach), fully-paid and
              royalty free (meaning that Markutting is not required to pay you for the use of the Submitted Content you
              post) license to use, modify (every effort will be made to preserve the integrity of your Submitted
              Content, but occasionally a technical modification such as compressing the file is necessary), publicly
              perform or publicly display (for editorial or promotional purposes), reproduce, and distribute such
              Submitted Content without the requirement to make payment to any third party or the need to seek any third
              party permission. This license includes the right to host, index, cache, distribute, and tag any Submitted
              Content.</span><br> <span style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span> <span>Representations: You
              represent and warrant that you own the Submitted Content displayed, published or posted by you on the Site
              and otherwise have the right to grant the license set forth herein, and the displaying, publishing or
              posting of your Submitted Content, and that our use thereof pursuant to the submitted Content License,
              does not/will not violate the privacy rights, publicity rights, copyrights, trademark rights, contract
              rights or any other intellectual property rights or other rights of any person or entity. You agree to pay
              all royalties, fees, and any other monies owing any person by reason of any Submitted Content displayed,
              published or posted by you to the Site. Except for your Submitted Content, you may not copy, modify,
              translate, publish, broadcast, transmit, distribute, perform, display, or sell any Submitted Content
              appearing on this Site.</span><br><br> <b>PAYMENTS AND REFUND POLICY:</b><br> <span>(a) <u>Service
                Fees.</u> For use of Markutting Services, you are required to pay applicable fees which may change from
              time to time subject only to your right to terminate such Services in accordance with the terms thereof.
              Fees vary by Service. Current fee schedules are available on the Site or in your Dashboard. You are
              responsible for payment of all applicable fees incurred by your Site account. All fees due from you to us
              hereunder, including to the extent applicable, monthly subscription fees, weekly subscription fees,
              one-time product purchase fees, recurring fees, auto-refill fees annual renewal fees, third-party fees,
              applicable taxes, charge-back fees, resubmission fees, late payment fees, takedown fees, change request
              fees, and reinstatement fees, are referred to herein as “Service Fees”.</span><br> <span>(b)<u>Payment of
                Service Fees.</u> You agree that we may charge all Service Fees, including auto-refill charges to the
              payment method (e.g., credit card, PayPal account, debit card, etc.) you have provided during checkout.
              You are responsible for the timely payment of all Service Fees. It is your responsibility to notify us if
              your payment method has changed by making the appropriate changes to your account settings. If you do not
              provide a valid payment method, or if your designated payment method is determined by us to be inactive
              for any reason, we may immediately discontinue providing Services to you. Purchases will appear on your
              credit or debit card statements as “Markutting.” You agree not to cause your credit or debit card company to
              reverse or “chargeback” any Service Fees charged in accordance with these Terms and Conditions; and in the
              event you do so, we may terminate your use of the Site and Services, and you agree to reimburse us for any
              costs incurred in responding to such chargeback, including, without limitation, our actual costs paid to
              the credit or debit card company, including chargeback fees, and the value of the time our employees spend
              on the matter as determined in our discretion in good faith.</span><br> <span>(c) <u>Refunds.</u> <br> (i)
              We may in our discretion provide free trials or discounted Services for a limited period of time so that
              you have an opportunity to “try before you buy.” If you are not satisfied or do not wish to use the
              Service any longer, please cancel the Service prior to the end of the free trial period or the renewal
              date, as applicable. We do not offer refunds for our Services once the free trial period has expired and
              you have elected to continue your use of the product. If you select auto-refill, we will auto-bill you
              based on your selected time interval. If you elect to cancel your subscription to a Service, we do not
              provide a refund for the remainder of the applicable billing period. For more information, please see our
              Refund Policy.</span><br><br> <b>Indemnification</b><br> <span>You agree to indemnify and hold Markutting,
              its parents, subsidiaries, officers, employees, and website contractors and each of their officers,
              employees and agents harmless from any claims, damages and expenses, including reasonable attorneys' fees
              and costs, related to your violation of these Terms, including the Submission Rules, or any violations
              thereof by your dependents or which arises from the use of Submitted Content.</span><br><br> <b>Markutting
              and the Community</b><br> <span>Markutting and the Community work together to keep Markutting running and the
              Community safe. If you have concerns about Markutting or a user on Markutting, please contact the staff
              directly.</span><br> <span>Markutting works to ensure that the site is safe, accessible, and enjoyable to
              all of our members, partners, and sponsors. Markutting, at its sole discretion, may deactivate, suspend, or
              terminate our services and user accounts, prohibit access to areas or the entirety of the Markutting web
              Site, remove content, and take other technical or legal steps to keep users off the Site if they are
              acting in a manner inconsistent Markutting Terms and Conditions.</span><br><br> <b>You also agree that you
              will not:</b><br> <span style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span> <span>Infrastructure: Utilize
              any technology or take any action with the intent of overloading or disrupting the normal operation of the
              Markutting infrastructure;</span><br> <span style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>Permissions: Copy,
              reproduce, modify, create derivative works from, distribute, or publicly display any content (except for
              Your Information) from the Sites without the prior express written permission of Markutting and any other
              appropriate parties;</span><br> <span style="font-size:10pt;font-family:Symbol">·<span
                style="font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span>Interference: Interfere or
              attempt to interfere with the proper working of the Markutting site, communication between users on the
              site, or any other activities conducted on the site, including the ranking of entries while
              judging.</span><br><br> <b>Privacy/Children</b><br> <span>On certain areas of our Site, you may be given
              the ability to provide us with personally identifiable information. Children under the age of 16 are not
              permitted to register for an Account or use other interactive features of our Site. Please read our
              Privacy Policy for more information about our information collection and use practices.</span><br><br>
            <b>Third Party Websites</b><br> <span>This Site may hyperlink to sites not maintained or related to
              Markutting. Hyperlinks are provided as a service to users and are not sponsored by or affiliated with this
              Site or Markutting, and Markutting makes no representations or warranties about the content, completeness, or
              accuracy of those third party sites. Information you submit at a third party site accessible from this
              Site is subject to the terms of that site's privacy policy, and Markutting has no control over how your
              information is collected, used, or otherwise handled.</span><br><br> <b>Representations and Limitations of
              Liability</b><br> <span>Markutting makes no representations about the reliability of the features of this
              Site, the Markutting Content, Submitted Content, or any other Site feature, and disclaims all liability in
              the event of any service failure. You acknowledge that any reliance on such material and/or systems will
              be at your own risk. Markutting makes no representations regarding the amount of time that any Markutting
              Content or Submitted Content will be preserved. Markutting does not endorse, verify, evaluate or guarantee
              any information provided by users, including rankings, reviews, or other Submitted Content and nothing
              shall be considered as an endorsement, verification or guarantee of any ranking, review or Submitted
              Content. You shall not create or distribute information, including but not limited to advertisements,
              press releases or other marketing materials, or include links to any sites which contain or suggest an
              endorsement by Markutting without the prior review and written approval of Markutting. Notwithstanding the
              foregoing, you may accurately disclose and describe your participation in this Site and your Submitted
              Content (for example, describing and promoting your Submitted Content on a personal blog or in
              emails).</span><br> <br> <span>THIS SITE IS PROVIDED ON AN "AS IS, AS AVAILABLE" BASIS. NO WARRANTIES,
              EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THOSE OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
              PURPOSE, ARE MADE WITH RESPECT TO THIS SITE OR ANY INFORMATION OR SOFTWARE THEREIN. UNDER NO
              CIRCUMSTANCES, INCLUDING NEGLIGENCE, SHALL Markutting BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
              SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OF OR INABILITY TO USE THIS SITE, NOR
              SHALL Markutting BE RESPONSIBLE FOR ANY DAMAGES WHATSOEVER THAT RESULT FROM MISTAKES, OMISSIONS,
              INTERRUPTIONS, DELETION OF FILES, ERRORS, DEFECTS, DELAYS IN OPERATION OR TRANSMISSION, OR ANY FAILURE OF
              PERFORMANCE WHETHER OR NOT CAUSED BY EVENTS BEYOND Markutting'S REASONABLE CONTROL, INCLUDING BUT NOT
              LIMITED TO ACTS OF GOD, COMMUNICATIONS LINE FAILURE, THEFT, DESTRUCTION, OR UNAUTHORIZED ACCESS TO THIS
              SITE'S RECORDS, PROGRAMS, OR SERVICES. IN NO EVENT SHALL Markutting'S TOTAL LIABILITY FOR ALL DAMAGES,
              LOSSES, AND CAUSES OF ACTION EXCEED FIVE DOLLARS (US $5.00). SOME JURISDICTIONS DO NOT ALLOW THE
              LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES; AS A RESULT, THE ABOVE
              LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. ALTHOUGH Markutting.COM MAKES EFFORTS TO INSURE THAT ALL
              MATERIAL ON THIS SITE IS CORRECT, ACCURACY CANNOT, AND IS NOT, GUARANTEED BY Markutting.COM.</span><br>
            <div class="yj6qo"></div>
            <div class="adL"> </div>
            <div style="margin:0.1pt 0in;text-align:justify" class="adL"><span
                style="font-size:14pt;font-family:Helvetica">&nbsp;</span></div>
            <div class="adL"> </div>
            <div class="adL"><br></div>
            <div class="adL">&nbsp;</div>
            <div class="adL">&nbsp;</div>
            <div class="adL"> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
