
    <!-- Switcher Area Start -->
    <div class="switcher__area">
      <div class="switcher__icon" style="right: 0;">
        <button  style="display: inline-block;" (click)="toggleDarkMode()"><i class="fa-solid" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i></button>
        <button id="switcher_close" style="display: none;"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="switcher__items" style="right: -280px;">
        <div class="switcher__item">
          <div class="switch__title-wrap">
            <h2 class="switcher__title">Cursor</h2>
          </div>
          <div class="switcher__btn">
            <select name="cursor-style" id="cursor_style">
              <option value="1">default</option>
              <option selected="" value="2">animated</option>
            </select>
          </div>
        </div>
        <div class="switcher__item">
          <div class="switch__title-wrap">
            <h2 class="switcher__title">mode</h2>
          </div>
          <div class="switcher__btn mode-type wc-col-2">
            <button class="active" data-mode="light">light</button>
            <button data-mode="dark">dark</button>
          </div>
        </div>
        <div class="switcher__item">
          <div class="switch__title-wrap">
            <h2 class="switcher__title">Language Support</h2>
          </div>
          <div class="switcher__btn lang_dir wc-col-2">
            <button class="active" data-mode="ltr">LTR</button>
            <button data-mode="rtl">RTL</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Switcher Area End -->

<app-header></app-header>
<div id="smooth-wrapper">
  <div id="smooth-content">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>

<!-- <app-progress-bar></app-progress-bar> -->

<ng-progress [thick]="true"></ng-progress>
