<main>
  <!-- Hero area start -->
  <section class="hero__area-3">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="hero__inner-3">
            <div class="sec-title-wrapper">
              <h2 class="sec-sub-title">Youtube</h2>
              <h3 class="sec-title title-left">Prom</h3>
              <h3 class="sec-title title-right">otion</h3>
            </div>
            <div class="hero__text-3">
              <p class="hero__text-animation">At Markutting, we focus around
                quality, not quantity. We show your video to individuals who are
                most energetic about finding you.</p>
            </div>
            <div class="scroll-down">
              <button><img src="assets/imgs/icon/arrow-down-sm.png" alt="arrow
                  icon"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="video-info">
        <div class="hero__text-3">
          <p class="hero__text-animation">Get more YouTube views on your
            content. Join now and get promoted</p>
          <div class="col-xxl-4 col-xl-4 col-4" style="z-index:1000">
            <button class="wc-btn-primary btn-hover btn-item preview-button"
              type="button" routerLink="/advertiser/allvideocheckout"><span></span>
              START CAMPAIGN <i
                class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>

        <!-- <div class="video-intro">
          <input id="video_check" type="checkbox">
          <div class="intro-title">
            <h4 class="video-title">Watch <span>video intro</span></h4>
            <h4 class="video-title close-video-title">Close <span>video intro</span></h4>
          </div>
          <div class="video">
            <video src="assets/video/hero-3.mp4" loop muted autoplay playsinline></video>
          </div>
        </div> -->
      </div>
    </div>

    <div class="hero3-img-ani">
      <img src="assets/imgs/hero/3/1.jpg" alt="Hero Image" class="hero3-img">
    </div>
  </section>

  <!-- Brand area start -->
  <section class="brand__area">
    <div class="container pt-140 pb-140">
      <div class="row">
        <div class="col-xxl-12">
          <h2 class="brand__title-3 title-anim">We worked with global largest
            brands
          </h2>
          <div class="brand__list-3">
            <div class="brand__item-2 fade_bottom">
              <img src="assets/imgs/brand/1.png" alt="Brand Logo">
            </div>
            <div class="brand__item-2 fade_bottom">
              <img src="assets/imgs/brand/2.png" alt="Brand Logo">
            </div>
            <div class="brand__item-2 fade_bottom">
              <img src="assets/imgs/brand/3.png" alt="Brand Logo">
            </div>
            <div class="brand__item-2 fade_bottom">
              <img src="assets/imgs/brand/4.png" alt="Brand Logo">
            </div>
            <div class="brand__item-2 fade_bottom">
              <img src="assets/imgs/brand/5.png" alt="Brand Logo">
            </div>
            <div class="brand__item-2 fade_bottom">
              <img src="assets/imgs/brand/6.png" alt="Brand Logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Brand area end -->

  <section class="roll__area">
    <div class="swiper roll__slider swiper-initialized swiper-horizontal
      swiper-pointer-events">
      <div class="swiper-wrapper roll__wrapper"
        id="swiper-wrapper-deed9940cac5964d" aria-live="off"
        style="transition-duration: 2000ms; transform: translate3d(-4195.12px,
        0px, 0px);"><div class="swiper-slide roll__slide swiper-slide-duplicate
          swiper-slide-duplicate-active" data-swiper-slide-index="11"
          role="group" aria-label="12 / 15" style="width: 310.75px;">
          <h2>Branding</h2>
        </div><div class="swiper-slide roll__slide swiper-slide-duplicate
          swiper-slide-duplicate-next" data-swiper-slide-index="12" role="group"
          aria-label="13 / 15" style="width: 310.75px;">
          <h2>Agency</h2>
        </div><div class="swiper-slide roll__slide swiper-slide-duplicate"
          data-swiper-slide-index="13" role="group" aria-label="14 / 15"
          style="width: 310.75px;">
          <h2>Interaction</h2>
        </div><div class="swiper-slide roll__slide swiper-slide-duplicate"
          data-swiper-slide-index="14" role="group" aria-label="15 / 15"
          style="width: 310.75px;">
          <h2>DIgital SOlution</h2>
        </div>
        <div class="swiper-slide roll__slide" data-swiper-slide-index="0"
          role="group" aria-label="1 / 15" style="width: 310.75px;">
          <h2>Development</h2>
        </div>
        <div class="swiper-slide roll__slide" data-swiper-slide-index="1"
          role="group" aria-label="2 / 15" style="width: 310.75px;">
          <h2>Studio</h2>
        </div>
        <div class="swiper-slide roll__slide" data-swiper-slide-index="2"
          role="group" aria-label="3 / 15" style="width: 310.75px;">
          <h2>Strategy</h2>
        </div>
        <div class="swiper-slide roll__slide" data-swiper-slide-index="3"
          role="group" aria-label="4 / 15" style="width: 310.75px;">
          <h2>Branding</h2>
        </div>
        <div class="swiper-slide roll__slide" data-swiper-slide-index="4"
          role="group" aria-label="5 / 15" style="width: 310.75px;">
          <h2>Agency</h2>
        </div>
        <div class="swiper-slide roll__slide" data-swiper-slide-index="5"
          role="group" aria-label="6 / 15" style="width: 310.75px;">
          <h2>typhography</h2>
        </div>
        <div class="swiper-slide roll__slide" data-swiper-slide-index="6"
          role="group" aria-label="7 / 15" style="width: 310.75px;">
          <h2>Design</h2>
        </div>
        <div class="swiper-slide roll__slide" data-swiper-slide-index="7"
          role="group" aria-label="8 / 15" style="width: 310.75px;">
          <h2>Interaction</h2>
        </div>
        <div class="swiper-slide roll__slide" data-swiper-slide-index="8"
          role="group" aria-label="9 / 15" style="width: 310.75px;">
          <h2>Element</h2>
        </div>
        <div class="swiper-slide roll__slide" data-swiper-slide-index="9"
          role="group" aria-label="10 / 15" style="width: 310.75px;">
          <h2>DIgital SOlution</h2>
        </div>
        <div class="swiper-slide roll__slide swiper-slide-prev"
          data-swiper-slide-index="10" role="group" aria-label="11 / 15"
          style="width: 310.75px;">
          <h2>Strategy</h2>
        </div>
        <div class="swiper-slide roll__slide swiper-slide-active"
          data-swiper-slide-index="11" role="group" aria-label="12 / 15"
          style="width: 310.75px;">
          <h2>Branding</h2>
        </div>
        <div class="swiper-slide roll__slide swiper-slide-next"
          data-swiper-slide-index="12" role="group" aria-label="13 / 15"
          style="width: 310.75px;">
          <h2>Agency</h2>
        </div>
        <div class="swiper-slide roll__slide" data-swiper-slide-index="13"
          role="group" aria-label="14 / 15" style="width: 310.75px;">
          <h2>Interaction</h2>
        </div>
        <div class="swiper-slide roll__slide" data-swiper-slide-index="14"
          role="group" aria-label="15 / 15" style="width: 310.75px;">
          <h2>DIgital SOlution</h2>
        </div>
        <div class="swiper-slide roll__slide swiper-slide-duplicate"
          data-swiper-slide-index="0" role="group" aria-label="1 / 15"
          style="width: 310.75px;">
          <h2>Development</h2>
        </div><div class="swiper-slide roll__slide swiper-slide-duplicate"
          data-swiper-slide-index="1" role="group" aria-label="2 / 15"
          style="width: 310.75px;">
          <h2>Studio</h2>
        </div><div class="swiper-slide roll__slide swiper-slide-duplicate"
          data-swiper-slide-index="2" role="group" aria-label="3 / 15"
          style="width: 310.75px;">
          <h2>Strategy</h2>
        </div><div class="swiper-slide roll__slide swiper-slide-duplicate"
          data-swiper-slide-index="3" role="group" aria-label="4 / 15"
          style="width: 310.75px;">
          <h2>Branding</h2>
        </div></div>
      <span class="swiper-notification" aria-live="assertive"
        aria-atomic="true"></span></div>
  </section>

  <!-- About area start -->
  <section class="about__area-3">
    <div class="container pt-140 pb-110">
      <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
          <div class="about__img-3">
            <img src="assets/imgs/about/3/1.jpg" alt="About Thumbnail"
              data-speed="auto">
          </div>
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
          <div class="sec-title-wrapper">
            <h2 class="sec-sub-title title-anim">Who We Are</h2>
            <h3 class="sec-title title-anim">We are leading digital marketing
              agency.</h3>
          </div>
          <div class="sec-text-wrapper">
            <div class="sec-text text-anim">
              <p>We’re a team of strategic mdigital marketing working globally
                with largest brands, We believe
                that
                progress only happens when you refused to play things safe. We
                combine ideas and behaviors, and
                insights with design, technological data to produce brand
                experiences that customers love our
                services.</p>
              <div class="btn_wrapper">
                <a class="wc-btn-light btn-hover btn-item" routerLink="/about" (click)="scrollTop()"><span></span>
                  Explore Us <i
                    class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About area end -->

  <!-- Service area start -->
  <section class="service__area-3 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="sec-title-wrapper pt-130 text-anim">
            <h2 class="sec-sub-title title-anim">Services</h2>
            <h3 class="sec-title title-anim">Our marketing <br> Services</h3>
            <p>Consumers today rely heavily on digital means to research
              products.
              We
              research a brand of bldend
              engaging with it, according to the meanwhile, 51% of consumers say
              they use Google to research
              products before buying.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xx-12">
          <div class="service__list-3">
            <div class="service__item-3 service_animation">
              <h3><a routerLink="/about" class="service__title-3">Search
                  Engine <br>Optimization</a></h3>
              <div class="service__content-3">
                <p>We help brands stand out through aweful, elegant visual
                  design. Our design mainly philosophy.
                </p>
                <ul class="">
                  <li>+ Logo Design</li>
                  <li>+ Advertisement</li>
                  <li>+ Promotion</li>
                </ul>
              </div>
              <div class="service__btn-3">
                <div class="btn_wrapper">
                  <a routerLink="/about" class="wc-btn-black btn-hover
                    btn-item"><span></span> Details
                    <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>

              <div class="service__hover-3" style="background-image:
                url(assets/imgs/service/3/1.jpg);"></div>
            </div>

            <div class="service__item-3 service_animation">
              <h3><a routerLink="/about" class="service__title-3 ">Email
                  <br>Marketing</a></h3>
              <div class="service__content-3">
                <p>We help brands stand out through aweful, elegant visual
                  design. Our design mainly philosophy.
                </p>
                <ul class="">
                  <li>+ Logo Design</li>
                  <li>+ Advertisement</li>
                  <li>+ Promotion</li>
                </ul>
              </div>
              <div class="service__btn-3">
                <div class="btn_wrapper">
                  <a routerLink="/about" class="wc-btn-black btn-hover
                    btn-item"><span></span> Details
                    <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>

              <div class="service__hover-3" style="background-image:
                url(assets/imgs/service/3/2.png);"></div>
            </div>

            <div class="service__item-3 service_animation">
              <h3 class=""><a routerLink="/about"
                  class="service__title-3">Content
                  <br>Marketing</a></h3>
              <div class="service__content-3">
                <p>We help brands stand out through aweful, elegant visual
                  design. Our design mainly philosophy.
                </p>
                <ul class="">
                  <li>+ Logo Design</li>
                  <li>+ Advertisement</li>
                  <li>+ Promotion</li>
                </ul>
              </div>
              <div class="service__btn-3">
                <div class="btn_wrapper">
                  <a routerLink="/about" class="wc-btn-black btn-hover
                    btn-item"><span></span> Details
                    <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>

              <div class="service__hover-3" style="background-image:
                url(assets/imgs/service/3/3.png);"></div>
            </div>

            <div class="service__item-3 service_animation">
              <h3 class=""><a routerLink="/about"
                  class="service__title-3">Social
                  <br>Marketing</a></h3>
              <div class="service__content-3">
                <p>We help brands stand out through aweful, elegant visual
                  design. Our design mainly philosophy.
                </p>
                <ul class="">
                  <li>+ Logo Design</li>
                  <li>+ Advertisement</li>
                  <li>+ Promotion</li>
                </ul>
              </div>
              <div class="service__btn-3">
                <div class="btn_wrapper">
                  <a routerLink="/about" class="wc-btn-black btn-hover
                    btn-item"><span></span> Details
                    <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>

              <div class="service__hover-3" style="background-image:
                url(assets/imgs/service/3/4.png);"></div>
            </div>

            <div class="service3__img-wrap">
              <div class="service3__img"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Service area end -->

  <!-- Workflow area start -->
  <section class="workflow__area-3">
    <div class="workflow__wrapper-3">
      <div class="choose-wrapper wf_panel">
        <div class="container">
          <div class="row">
            <div class="col-xxl-12">
              <div class="choose-title-wrapper">
                <h2 class="choose-title title-anim">why <br> choose us</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="research__area wf_panel pt-150">
        <div class="container inner_content">
          <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <div class="sec-title-wrapper">
                <h2 class="sec-sub-title">why <br>choose us</h2>
                <h3 class="sec-title">Keword,Research Strategy, Survey, &
                  Analytics</h3>
                <p>Attention, we take out our round glasses and our sweater with
                  elbow patches to go back to the
                  origins of the user experience: the first mention of the user
                  and its importance was born in the
                </p>
              </div>
              <ul class="research__tools">
                <li><a href="#">Google</a></li>
                <li><a href="#">pinterest</a></li>
                <li><a href="#">Instagram</a></li>
              </ul>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <div class="research__list">
                <div class="research__item">
                  <div class="research__number">
                    <span>60%</span>
                  </div>
                  <div class="research__info">
                    <h4 class="research__title">Strategy</h4>
                    <p>Your marketing strategy optimizing performances doesn’t
                      have to be a guessing game.</p>
                  </div>
                </div>

                <div class="research__item">
                  <div class="research__number">
                    <span>95%</span>
                  </div>
                  <div class="research__info">
                    <h4 class="research__title">Audience</h4>
                    <p>Your marketing strategy optimizing performances doesn’t
                      have to be a guessing game.</p>
                  </div>
                </div>

                <div class="research__item">
                  <div class="research__number">
                    <span>70%</span>
                  </div>
                  <div class="research__info">
                    <h4 class="research__title">Keyword</h4>
                    <p>Your marketing strategy optimizing performances doesn’t
                      have to be a guessing game.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="counter__area-3 wf_panel">
        <div class="container">
          <div class="row">
            <div class="col-xxl-12">
              <div class="sec-title-wrapper">
                <h2 class="sec-sub-title">Why <br>Choose Us</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
              <div class="counter__wrapper-3">
                <div class="counter__item-3">
                  <h2 class="counter__number">25k</h2>
                  <p>Project <br>completed</p>
                </div>
                <div class="counter__item-3">
                  <h2 class="counter__number">8k</h2>
                  <p>Happy <br>customers</p>
                </div>
                <div class="counter__item-3">
                  <h2 class="counter__number">15</h2>
                  <p>Years <br>experiences</p>
                </div>
                <div class="counter__item-3">
                  <h2 class="counter__number">98</h2>
                  <p>Awards <br>achievement</p>
                </div>
              </div>
            </div>
            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
              <div class="counter__img-3">
                <img src="assets/imgs/thumb/counter-3.png" alt="Counter Image">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- CTA area start -->
      <div class="cta__area-3 wf_panel">
        <div class="container pt-150 pb-150">
          <div class="row">
            <div class="col-xxl-12">
              <div class="cta__content-3">
                <p class="cta__sub-title-2">Have you project in mind?</p>
                <h2 class="cta__title-2">Let’s make something great together!</h2>
                <div class="btn_wrapper">
                  <a routerLink="/contact" (click)="scrollTop()" class="wc-btn-black btn-hover
                    btn-item"><span></span>Contact <br>with
                    us <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- CTA area end -->

    </div>
  </section>
  <!-- Workflow area end -->
</main>
