<!-- Contact area start -->
<section class="contact__area-6">
  <div class="container g-0 line pt-120 pb-110">
    <span class="line-3"></span>
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
        <div class="sec-title-wrapper">
          <h2 class="sec-title-2 animation__char_come">Let’s get in touch</h2>
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
        <div class="contact__text">
          <p>Great! We're excited to hear from you and let's start
            something special togerter. call us for any inquery.</p>
        </div>
      </div>
    </div>
    <div class="row contact__btm">
      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5" style="margin: auto;">
        <app-contact-data></app-contact-data>
      </div>
    </div>
  </div>
</section>
<!-- Contact area end -->
