<div id="wrapper" style=" min-height:575px !important; margin-top: 5rem">
  <section>
    <div class="container page-content"> <br>
      <h2>Refund policy</h2><br>
      <div dir="ltr">
        <div style="line-height:20pt"><span>We want you to be satisfied with any product you buy from us, period. When
            we offer first time discounts and free trials, we achieve this so that you can "test or try before you buy."
            When it comes to knowing if a product or service is right for you, nothing can beat a chance to test-drive
            it for yourself. Because of our "test or try it before you buy it" approach, we generally don't offer
            refunds for our products and services once you have passed the trial period and elected to continue with the
            product (since you already tried it and decided to buy it).</span> </div>
        <div style="line-height:20pt"><span>If you select auto-refill during checkout, you will be auto-billed at the
            beginning of your next payment cycle. Auto-refill payments are authorized transactions and if you wish to
            cancel your auto-refill, cancel before your renewal date. No refunds will be given for payments made on
            auto-refill. However... </span> </div> <br> <b>Markutting WILL PROVIDE A REFUND IN THE FOLLOWING
          CASES:</b><br>
        <div style="line-height:20pt"><span>1) Product malfunction. Requires that the user report malfunction to <a
              rel="nofollow" href="mailto:support@markutting.com" target="_blank">support@markutting.com</a> while the
            service is still active, so that the malfunction can be verified.</span></div>
        <div style="line-height:20pt"><span> 2) Billing error. The user must provide proof with the confirmation email
            to show that they unsubscribed before (not on or after) the renewal date on file for the service in
            question.</span></div><br> <b>IF YOU CANCEL A PRODUCT</b><br>
        <div style="line-height:20pt">You can cancel a product or service by emailing <a rel="nofollow"
            href="mailto:support@markutting.com" target="_blank">support@markutting.com</a>. This must be done before the
          billing of a new cycle. If you elect to cancel a product or service, Markutting.com does not provide a refund
          for the remainder of the month, year, or billing period for an unsubscribed service.</div><br> <b>REFUND
          POLICY FAQ</b><br><br>
        <div style="line-height:20pt"><span><b><span style="font-style:italic;">If I forget to cancel before my renewal
                date, can I get a refund?</span></b></span></div>
        <div style="line-height:20pt"><span>No. Whenever possible, we offer discounted or free trials to ensure that the
            service is something you want before you make the first payment. In addition, you can cancel at any point in
            time during the trial period. </span></div><br>
        <div style="line-height:20pt"><span><b><span style="font-style:italic;">If I do not request cancellation from a
                free trial, will it just end, or will it charge me when the trial is up?</span></b></span></div>
        <div style="line-height:20pt"><span>We operate under the assumption that you want your product to continue
            unless you cancel it. Markutting does not, as a rule, provide refunds for users who believe the service to be
            free upon signup, as fees are explicitly called out during the checkout process. </span></div><br>
        <div style="line-height:20pt"><span><b><span style="font-style:italic;">What happens if I have charges on my
                account I did not authorize?</span></b></span></div>
        <div style="line-height:20pt"><span>If we receive an "unauthorized charge" notice from you or your financial
            institution, we will attempt to take action to suspend your account for your protection from further
            fraudulent charges or access — including the suspension of widgets, apps, profile pages, and any other
            public-facing presentation that we can affect. If we get notice that your account has been compromised, we
            will do what we can to shut it down so that there is no more damage. This process can take time, so we ask
            that you bear with us in these circumstances as we try to help you. For questions regarding our Refund
            Policy or the Terms and Conditions for our site and services, please contact <a rel="nofollow"
              href="mailto:support@markutting.com" target="_blank">support@markutting.com</a>.</span></div> <br><br>
      </div>
    </div>
  </section>
</div>
